<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="9" parallel="methods">
	<listeners>
		<listener class-name="testng.sample.ListenerTest"></listener>
		<listener class-name="testng.sample.Retry_Transform"></listener>
	</listeners>
	<parameter name="success" value="S Thread"></parameter>
	<parameter name="Fail" value="F Thread"></parameter>
	<test name="Test">
		<groups>
			<define name="group_of_groups">
				<include name="success"></include>
				<include name="Fail"></include>

			</define>

			<run>
				<include name="group_of_groups"></include>
			</run>

		</groups>
		<classes>
			<class name="testng.sample.TestcasesTest" />
		</classes>
	</test>
</suite>
